.products-top-section {
    height: 500px;
}

#site-header {
    border-bottom: 0px !important;
}

.products-welcome {
    color: white !important;
    font-family: ttnorms, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.products-title {
    font-family: ttnorms, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}